<%inherit file="/template.html" />
<%namespace name="tiles" file="/badge/tiles.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Badges")}</%def>

<%def name="breadcrumbs()">
    ${h.tag.breadcrumbs(None)|n}
</%def>


<%def name="edit_button(badge_id)">
<a href="${c.badge_base_url}/edit/${badge_id}">${_('Edit')}</a>
</%def>

<%def name="render_tables(badges, type_, roles, table_def)">
%for role in roles:
<%
permission = role['permission']
label = role['label']
role_exists = permission in badges
badge_items = badges.get(permission, {}).get(type_, None)
%>
    %if h.has_permission(permission) and role_exists:
        %if role['show_label']:
        <h4>${role['label']}</h4>
        %endif
    %if badge_items:
    ${table_def(badge_items)}
    %else:
    <p>${_("No badges added yet.")}</p>
    %endif
    %endif
%endfor
</%def>


<%def name="user_badges_table(badge_items)">

  <div class="table">
    <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Assigned Role")}</th>
        <th>${_("Display")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in badge_items:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        <td>${badge.role and badge.role.role_name or ""}</td>
        <td>${badge.display_role and _("yes") or _("no")}</td>
        
        <td>${edit_button(badge.id)}</td>
      </tr>
      %endfor
    </table>
  </div>

</%def>


<%def name="delegateable_badges_table(badge_items)">
  <div class="table">
      <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in badge_items:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        
        <td>${edit_button(badge.id)}</td>
      </tr>
      %endfor
    </table>
  </div>    
</%def>


<%def name="instance_badges_table(badge_items)">
  <div class="table">
      <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in badge_items:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        
        <td>${edit_button(badge.id)}</td>
      </tr>
      %endfor
    </table>
  </div>    
</%def> 


<%def name="category_badges_table(badge_items)">
  <div class="table">
    <table class="table_listing">
      <thead>
        <th>${_("Title")}</th>
        <th>${_("Description")}</th>
        <th>${_("Color")}</th>
        <th>${_("Preview")}</th>
        <th>${_("Actions")}</th>
      </thead>
      %for badge in badge_items:
      <tr class="tile">
        <td>${badge.title}</td>
        <td>${badge.description and (badge.description[:20] + u'...') or ''}</td>
        <td>${badge.color}</td>
        <td>${tiles.badge(badge)}</td>
        
        <td>${edit_button(badge.id)}</td>
      </tr>
      %endfor
    </table>
  </div>    
</%def>


<%block name="main_content">

${components.flashmessages()}

${self.badges_listing()}

</%block>

<%def name="badges_listing()">
  <h2>${_("User Badges")}   
  <a style="margin-bottom: 0.3em" class="btn btn-mini plus" 
     href="${c.badge_base_url}/user/add">${_("New")}</a>
  </span>
  </h2>
  ${render_tables(c.badges, 'user', c.roles, user_badges_table)}


  <h2>${_("Proposal Badges")}
  <a style="margin-bottom: 0.3em" class="btn btn-mini plus" 
     href="${c.badge_base_url}/delegateable/add">${_("New")}</a>
  </h2>
  ${render_tables(c.badges, 'delegateable', c.roles, delegateable_badges_table)}


  <h2>${_("Proposal Category Badges")}
  <a style="margin-bottom: 0.3em" class="btn btn-mini plus" 
     href="${c.badge_base_url}/category/add">${_("New")}</a>
  </h2>
  ${render_tables(c.badges, 'category', c.roles, category_badges_table)}
  

  <h2>${_("Instance Badges")}
  <a style="margin-bottom: 0.3em" class="btn btn-mini plus" 
     href="${c.badge_base_url}/instance/add">${_("New")}</a>
  </h2>
  ${render_tables(c.badges, 'instance', c.roles, instance_badges_table)} 
</%def>

