<%inherit file="/template.html" />
<%namespace name="forms" file="/forms.html"/>
<%namespace name="components" file="/components.html"/>
<%def name="title()">${_("Admin: Import Users")}</%def>

<%block name="headline">
${tiles.group.navigation(group=c.group, exclude='import')}
    <h1>${_("Import Members")}</h1>
</%block>

<%block name="main_content">
${self.form()}
</%block>

<%def name="form()">

<form name="import_members" class="well" method="POST">

    ${h.field_token()|n}

    <div class="input_wrapper">
        <%forms:textarea 
            label="${_('E-Mails')}"
            name="emails"
            value=""
            tabindex="1"
            help="${_('Paste a list of emails, one email per line.')}">
        </%forms:textarea>
    </div>
    ${components.savebox("")}
</form>
</%def>
