<%inherit file="/template.html" />
<%namespace name="components" file="/components.html" />
<%namespace name="group_tiles" file="/group/tiles.html" />
<%def name="title()">${c.group.group_name}</%def>

<%def name="breadcrumbs()">
${h.site.name()} &raquo; ${_("Groups")} &raquo; ${c.group.group_name}
</%def>

<%block name="headline">
<div class="top_actions title">
${tiles.group.navigation(group=c.group)}
</div>
<h1 class="page_title">${c.group.group_name}</h1>
</%block>

<%block name="main_content">
${c.tile.description|n}

<h3>${_('Assigned roles')}
%if can.group.edit(c.group):
 <a href="${h.entity_url(c.group, member='roles')}" class="btn">${_('assign roles')}</a>
%endif
</h3>
% if len(c.group.group_roles):
<table class="group_roles">
 <tr><th>${_('Instance')}</th><th>${_('Role')}</th></tr>
  % for group_role in c.group.group_roles:
    % if group_role.instance is None:
    <tr><td>${_('all instances')}</td><td>${group_role.role.role_name}</td></tr>
    % else:
    <tr><td>${group_role.instance.label}</td><td>${group_role.role.role_name}</td></tr>
    % endif
  % endfor
</table>
% else:
<p>${_('No roles assigned to this group.')}</p>
% endif

% if c.group.membership_visibility == model.Group.VISIBLE_ALL or c.group.membership_visibility == model.Group.VISIBLE_MEMBERS and c.user in c.group.members() or c.group.membership_visibility == model.Group.VISIBLE_LOGGED_IN and c.user or can.group.edit(c.group):
    <h3>${_('Current members')}
%if can.group.edit(c.group):
 <a href="${h.entity_url(c.group, member='members')}" class="btn">${_('manage members')}</a>
%endif
    </h3>
% if len(c.group_members): 
    <div class="group-user-list">
    <input placeholder="${_('Find member...')}" type="text" value="" id="user_search" data-ajax-url="${h.entity_url(c.group, member='userlist')}/members" data-link-href="${h.entity_url(c.group, member='members')}/" />
    <ul class="group-members">
    % for member in c.group_members:
    <li><span><img src="${h.group.gravatar(member.email, 25)}">${member.name}</span></li>
    % endfor
    </ul>
    % if c.more_group_members:
    <p id="more-group-members">
    % else:
    <p id="more-group-members" style="display:none">
    % endif
     ${_('And')} <span>${c.more_group_members}</span> ${_('more')}...
    </p>
    </div>
% else:
<p>${_('No members in this group.')}</p>
% endif
% endif

</%block>



